<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764585313001-be3csgo7eugh7ogoo4u2pdom662m2aun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764585313001-be3csgo7eugh7ogoo4u2pdom662m2aun</string>
	<key>API_KEY</key>
	<string>AIzaSyBH9LTzeAbskrK7DrE632oOh8f4Wv8Lu20</string>
	<key>GCM_SENDER_ID</key>
	<string>764585313001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.swayamCab</string>
	<key>PROJECT_ID</key>
	<string>svayamcab-abe84</string>
	<key>STORAGE_BUCKET</key>
	<string>svayamcab-abe84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764585313001:ios:d8792b860cb62c0c57a678</string>
	<key>DATABASE_URL</key>
	<string>https://svayamcab-abe84-default-rtdb.firebaseio.com</string>
</dict>
</plist>